<div class="actions">
        <%= link_to 'Edit', edit_kitten_path(kitten), class: 'btn btn-secondary edit' %>
        <%= link_to 'Delete', kitten_path(kitten),  class: 'btn btn-danger delete',
                                                    method: :delete,
                                                    data: { confirm: "Are you sure?" } %>
</div>