<% if object.errors.any? %>
    <ul id="errors" class="bg-danger text-white">
        <% object.errors.full_messages.each do |error| %>
            <li><%= error %></li>
        <% end %>
    </ul>
<% end %>